body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: white;
}

h1 {
    font-weight: 50;
}

h1.navbar_text {
    margin-left: 5cm;
}

div.card {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

#credits{
  margin-bottom: 0px;  
}